@model ASP_.Net_Core_Class_Home_Work.Views.Home.Admin

@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Адміністрування контенту</h1>
</div>

<div id="category-container"></div>
<div id="inputs-category-container"></div>
<hr/>
<div id="location-container"></div>
