@model ASP_.Net_Core_Class_Home_Work.Data.Entities.Room;

<div class="col">
    <div class="card h-100" style="width: 18rem;">
        <a asp-action="Room" asp-route-id="@(Model.Slug)">
            <img class="card-img-top" src="~/img/Content/@(Model.PhotoUrl ?? "no-image.jpg")" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Description</p> 
                <b class="card-text">Цена за номер: @Model.DailyPrice.ToString("F2")</b>
            </div>
        </a>
    </div>
</div>

