
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP - Active Server Pages</h1>
</div>
<h2>Зміст</h2>

<h4><a asp-controller="Home" asp-action="Intro">Вступ</a></h4>
<h4><a asp-controller="Home" asp-action="Ioc">Ioc. Інжекція</a></h4>
<h4><a asp-controller="Home" asp-action="AboutRazor">Синтаксис Razor</a></h4>
<h4><a asp-controller="Home" asp-action="DataBase">Подключение к Базе данных</a></h4>
<h4><a asp-controller="Home" asp-action="Model">Моделі в ASP </a></h4>
<h4><a asp-controller="Home" asp-action="RandomService">ДЗ HomeService </a></h4>