html {
  font-size: 14px;
}

:root {
  --bs-primary-rgb: 0, 104, 206; 
  --bs-bg-opacity: 1; 
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  height: 100%;
}

body {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}

.myheader{
  padding: 18px;
  background: #0068ce;
}

.navbar-collapse ul{
  align-items: center;
}

.bg-white{
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.border-bottom {
  border-bottom: none !important;
}

.register-ref,
.login-ref{
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  color: blue;
}

.login-register .exit{
  padding: 10px;
  background-color: white;
  display: flex;
  gap: 7px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: blue;
}

.block-city-street{
  display: flex;
  justify-content: space-between;
}

.card-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-link{
  color: white !important;
  font-size: 30px !important;
}

.mb-3 {
 margin-bottom: 0rem !important ; 
}
.navbar-nav .list-type{
  display: flex;
  list-style: none;
  gap: 25px;
}

.container{
  padding: 50px 0 50px 0;
}

.main-page-ref{
 font-weight: 900;
  font-size: 24px;
}

.login-register{
 display: flex;
  gap: 20px;
}

.myformRegister,
.form-login{
  padding: 28px;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  gap: 35px;
  border-radius: 5px;
  width: 580px;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.myformRegister button,
.form-login button{
  width: 100%;
}

.register-ref a,
.login-ref a{
  display: flex;
  gap: 5px;
}

.size-40{
  max-width: 50px;
  max-height: 50px;
}

.sub-header{
  background: url(/img/disneylandHotel.jpeg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 25vh;
  min-height: 150px;
}

.item-free{
  color: #41c21b;

}

.item-past{
  color: grey;
  cursor: default;
  pointer-events: none;
}

.item-reserved{
  color: red;

}

.calendar{
  display: flex;
  flex-wrap: wrap;
}

.calendar-item{
  width: 14%;
  border: 1px solid grey;
}

.bi-star-fill::before {
  content: "\f586";
  color: #e8e812;
}

h1{
  text-align: center;
  margin-bottom: 40px;
}

.item-auth{
  cursor: pointer;
}

.btn-refresh{
  margin-left: 10px;
  height: 37px;
  margin-bottom: 9px;
}

footer {
  margin-top: auto;
  
}

footer .footer-bottom-info{
  display: flex;
  justify-content: space-between;
}

.bg-secondary{
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.card{
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card:hover {
  transform: translateY(-10px);
}

.card-body {
  flex-grow: 1;
}

.card-footer {
  margin-top: auto;
}

.card-img-top{
  height: 200px;
}

.card-img-room{
  width: 100%;
  height: 400px;
}
footer .container{
  padding: 30px 0 30px 0 !important;
}

.py-4 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

#category-form .col,
#location-form .col,
#room-form .col{
  margin-bottom: 15px;
}

.bi-signpost-split::before {
  color: #aa0000;
}
