html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  height: 100%;
}

body {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}

.myheader{
  padding: 18px;
}

.navbar{
  padding: 8px;
  border-radius: 4px;
}

.navbar-collapse ul{
  align-items: center;
}
.navbar-nav .list-type{
  display: flex;
  list-style: none;
  gap: 25px;
}

.main-page-ref{
 font-weight: 900;
  font-size: 24px;
}

.login-register{
 display: flex;
  gap: 20px;
}

.myformRegister,
.form-login{
  padding: 28px;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  gap: 35px;
  border-radius: 5px;
  width: 780px;
  margin: 20px auto;
}

.myformRegister button,
.form-login button{
  width: 100%;
}

.register-ref a,
.login-ref a{
  display: flex;
  gap: 5px;
}

.size-40{
  max-width: 50px;
  max-height: 50px;
}

.sub-header{
  background: url(/img/disneylandHotel.jpeg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 25vh;
  min-height: 150px;
}

.item-free{
  color: greenyellow;

}

.item-past{
  color: grey;
  cursor: default;
  pointer-events: none;
}

.item-reserved{
  color: red;

}

.calendar{
  display: flex;
  flex-wrap: wrap;
}

.calendar-item{
  width: 14%;
  border: 1px solid grey;
}

.item-auth{
  cursor: pointer;
}

footer {
  margin-top: auto;
}

footer .footer-bottom-info{
  display: flex;
  justify-content: space-between;
}

