@using System.Security.Claims
@{
    bool isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
    string avatar = isAuthenticated? Context.User.Claims.First(claim =>claim.Type==ClaimTypes.UserData).Value: "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ASP_.Net_Core_Class_Home_Work</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<header class="myheader">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item main-page" >
                        <a class="nav-link text-dark main-page-ref" asp-area="" asp-controller="Content" asp-action="Index">Booking.com</a>
                    </li>
                </ul>
                <div class="login-register">
                    @if (isAuthenticated)
                    {
                        <img class="size-40 rounded-circle" src="/img/avatars/@(avatar=="" ? "no-avatar.png":avatar)" alt="avatars"/>
                        <a class="exit" asp-controller="Home" asp-route-logout="true" asp-action="Index"><i class="bi bi-box-arrow-left"></i>Вийти</a>
                    }
                    else
                    {
                        <div class="register-ref">
                            <a asp-controller="Home" asp-action="Singup"><i class="bi bi-person-plus"></i>Регистрация</a>
                        </div>
                        <div class="login-ref">
                            <a asp-controller="Home" asp-action="Login"><i class="bi bi-box-arrow-in-left"></i>Вход</a>
                        </div>
                    }
                </div>
               
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="bg-secondary text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Контакты</h5>
                <ul class="list-unstyled">
                    <li>Телефон: +123456789</li>
                    <li>Email: info@example.com</li>
                    <li>Адрес: ул. Примерная, д. 123</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Ссылки</h5>
                <ul class="list-unstyled">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Социальные сети</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                </ul>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col footer-bottom-info">
                 @if (isAuthenticated)
                 {
                     <b>Ви увійшли до системи!!</b>
                 }
                <p class="text-center">&copy; 2024 Все права защищены</p>
            </div>
        </div>
    </div>
</footer>
 


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>